/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.gradient_text {
  font-size: 8rem;
  background: linear-gradient(to right, #2997ff 40%, #330867 130%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 766px) {
  .heroBanner {
    margin: 1rem;
  }
  h1.gradient_text {
    font-size: 4rem;
  }
}

@media (prefers-color-scheme: dark) {}

header {
  margin-top: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_ul {
  font-size: 1.2rem;
}

