/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

html {
  /*-moz-osx-font-smoothing: grayscale;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*font-smoothing: antialiased;*/
  /*font-weight: 400;*/
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

@media screen and (max-width: 766px) {
  .heroBanner {
    margin: 1rem;
  }

  p.pSubmitPage {
    font-size: 16px;
  }

  header {
    padding-top: 18px !important;
  }

}

@media screen and (max-width: 374px) {}

@media (prefers-color-scheme: dark) {}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*remove external link icon*/
[class*="iconExternalLink"] { 
  display: none; 
}

li p {
  margin-bottom: 5px;
}

.input {
  box-sizing:border-box;
  padding:10px;
  margin:10px 0;
  width:200px;
  border: 0px solid;
  border-radius: 6px;
  background-color: #f1f1f1;
  font-size: 14px;
}

.pSubmitPage {
  font-size: 16px;
}

@-moz-document url-prefix() {
    body .with-ff-fix {
        font-weight: lighter !important;
    }
}

a {
  font-weight: 500;
}
