/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

html {
  /*-moz-osx-font-smoothing: grayscale;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*font-smoothing: antialiased;*/
  /*font-weight: 400;*/
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

.gradient {
  font-size: 8rem;
  background: linear-gradient(to right, #2997ff 40%, #330867 130%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 766px) {
  .heroBanner {
    margin: 1rem;
  }

  h1.gradient {
    font-size: 4rem;
  }

  p.pAboutPage {
    width: 90%;
    font-size: 16px;
  }

  p.pSubmitPage {
    font-size: 16px;
  }

  header {
    padding-top: 18px !important;
  }

}

@media screen and (max-width: 374px) {
  h1.gradient {
    font-size: 3rem;
  }

  ul.mainUl {
    font-size: 1rem;
  }

  p.pAboutPage {
    font-size: 1rem;
    width: 90%;
  }
}

@media (prefers-color-scheme: dark) {}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainUl {
  font-size: 1.2rem;
  padding-left: 0;
}

/*remove external link icon*/
[class*="iconExternalLink"] { 
  display: none; 
}

li p {
  margin-bottom: 5px;
}

.input {
  box-sizing:border-box;
  padding:10px;
  margin:10px 0;
  width:200px;
  border: 0px solid;
  border-radius: 6px;
  background-color: #f1f1f1;
  font-size: 14px;
}

/*TODO*/
.pAboutPage {
  margin: auto;
  text-align: justify;
  font-size: 1.2rem;
  width: 50%;
}

.pSubmitPage {
  /*font-size: 1.2rem;*/
  font-size: 16px;
}

@-moz-document url-prefix() {
    body .with-ff-fix {
        font-weight: lighter !important;
    }
}

a {
  font-weight: 500;
}
